@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

body {
  font-family: "DM Sans", sans-serif;
}

@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-slow-reverse {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes ping-slow {
  75%,
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes progress {
  0% {
    width: 0%;
  }
  50% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
} 
.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}
.animate-spin-slow-reverse {
  animation: spin-slow-reverse 4s linear infinite;
}
.animate-ping-slow {
  animation: ping-slow 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}
.animate-progress {
  animation: bounce 2s infinite;
}

.border-animate {
  position: relative;
  border-radius: 9999px;
  background: transparent;
  color: white;
  overflow: hidden;
}

.border-animate::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: inherit;
  background: linear-gradient(90deg, transparent, white, transparent);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: borderMove 2s linear infinite;
}

@keyframes borderMove {
  0% {
    background-position: -100% 0;
    background: #fff;
  }
  50% {
    background-position: 100% 0;
    background: #2a006a;
  }
  100% {
    background-position: 100% 0;
    background: #fff;
  }
}

.star {
  animation: shiny 2s linear infinite;
}

@keyframes shiny {
  0% {
    color: #969595;
  }
  50% {
    color: #000;
  }
  100% {
    color: #797979;
  }
}

/* Animations */
@keyframes pulse-slow {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.2;
  }
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(180deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}

.animate-pulse-slow {
  animation: pulse-slow 3s infinite;
}

.animate-fade-in {
  animation: fade-in 1s forwards;
}

.animate-float {
  animation: float linear infinite;
}

/* For the entire scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px; 
}

::-webkit-scrollbar-track {
  background: #000;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}

.con {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.con::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Relative-Bold";
  src: url("/frontend/public/fonts/Relative-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/**   font-family: "Lato", sans-serif;**/
.scroll {
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
}

.animate-infinite {
  animation: scrolls 100s linear infinite;
}

.animate-infinit {
  animation: scrollss 55s linear infinite;
}

@keyframes scrolls {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 20px));
  }
}

@keyframes scrollss {
  0% {
    transform: translateX(-50);
  }
  100% {
    transform: translateX(calc(-50% - 20px));
  }
}

@keyframes liquid {
  0%, 100% {
    filter: url('#liquid');
  }
  50% {
    filter: url('#liquid2');
  }
}

.animate-liquid {
  animation: liquid 3s ease-in-out infinite;
}

@media (min-width: 2000px) {
  .apple {
    margin-left: 27rem;
    margin-right: 27rem;
  }
  .heig {
    height: 100vh;
  }
}
@media (min-width: 2333px) {
  .apple {
    margin-left: 35rem;
    margin-right: 35rem;
  }
}
@media (min-width: 2700px) {
  .apple {
    margin-left: 43rem;
    margin-right: 43rem;
  }
}

.backgrounds {
  background: url(../public/backgrounds.png);
}