@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

body {
  font-family: "DM Sans", sans-serif;
}

@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-slow-reverse {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes ping-slow {
  75%,
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes progress {
  0% {
    width: 0%;
  }
  50% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}
.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}
.animate-spin-slow-reverse {
  animation: spin-slow-reverse 4s linear infinite;
}
.animate-ping-slow {
  animation: ping-slow 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}
.animate-progress {
  animation: bounce 2s infinite;
}

.border-animate {
  position: relative;
  border-radius: 9999px;
  background: transparent;
  color: white;
  overflow: hidden;
}

.border-animate::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: inherit;
  background: linear-gradient(90deg, transparent, white, transparent);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: borderMove 2s linear infinite;
}

@keyframes borderMove {
  0% {
    background-position: -100% 0;
    background: #fff;
  }
  50% {
    background-position: 100% 0;
    background: #2a006a;
  }
  100% {
    background-position: 100% 0;
    background: #fff;
  }
}

.star {
  animation: shiny 2s linear infinite;
}

@keyframes shiny {
  0% {
    color: #969595;
  }
  50% {
    color: #000;
  }
  100% {
    color: #797979;
  }
}
