@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

body {
  font-family: "DM Sans", sans-serif;
}

.logo{
  font-family: "Relative-Bold", sans-serif;
}

@font-face {
  font-family: 'Relative-Bold';
  src: url('/frontend/public/fonts/Relative-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/**   font-family: "Lato", sans-serif;**/
.scroll {
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
}

.animate-infinite {
  animation: scrolls 100s linear infinite;
}

.animate-infinit {
  animation: scrollss 55s linear infinite;
}

@keyframes scrolls {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 20px));
  }
}

@keyframes scrollss {
  0% {
    transform: translateX(-50);
  }
  100% {
    transform: translateX(calc(-50% - 20px));
  }
}

.border-animate {
  position: relative;
  border-radius: 9999px;
  padding: 0.75rem 2rem;
  background: transparent;
  color: white;
  overflow: hidden;
}

.border-animate::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: inherit;
  background: linear-gradient(90deg, transparent, white, transparent);
  -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: borderMove 2s linear infinite;
}

@keyframes borderMove {
  0% {
      background-position: -100% 0;
      background: #fff;
  }
  50% {
      background-position: 100% 0;
      background: #2a006a;
  }
  100% {
      background-position: 100% 0;
      background: #fff;
  }
}

.star {
  animation: shiny 2s linear infinite;
}

@keyframes shiny {
  0% {
      color: #cacaca;
  }
  50% {
      color: #fff;
  }
  100% {
      color: #cacaca;
  }
}

